.presale-listing {
    background-color: #F7F7F7;

    .nav-pills {
        .nav-link {
            font-size: 16px;
            border: 2px solid #ECECEC;
            text-align: center;
            border-radius: 30px;
            margin: 3px 10px;
            font-weight: 500;
            transition: all .3s;

            &.active {
                background-color: var(--clr-deep-blue);
                border-color: var(--clr-deep-blue);
                color: var(--bs-white);
            }

            &:hover {
                background-color: var(--clr-deep-blue);
                color: var(--bs-white);
            }
        }
    }
}

.listing-card {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 25px;

    .cardHead {
        >img {
            width: 45px;
            height: 45px;
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
        }

        >.title {
            font-size: calc(var(--fontInitSize) + 10px);
            font-weight: 700;
        }
    }

    .cardBottom {
        span {
            font-size: calc(var(--fontInitSize) - 2px);
            font-weight: 500;
            color: var(--themeGray);
        }
    }
}
